
<ion-header  >
      <div class="banner-img"><img src="../../../assets/img/logo1.png" alt=""></div>
      <ion-toolbar >
      <br>
      <ion-title #titulo >Sistema de Asistencia</ion-title>
      <br>
      </ion-toolbar>
</ion-header>    
<ion-content>
      <div class="home">
            <ion-card class="ion-text-center ion-padding-vertical">
                  <h1 class="ion-text-center">¡Hola,</h1>
                  <p class="nombre"> {{ nombreUsuario }}!</p>
                  <div class="buttons">
                        <ion-button (click)="cerrarSesion()">Cerrar Sesión</ion-button>
                  </div>
            </ion-card>
      </div>
</ion-content>